@import "main.css";
:root {
  --card-hover: #fe5;
  --header-height: 40px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}
.iframe-container {
  overflow: hidden;
  height: calc(100vh - var(--header-height));
}
.container {
  display: flex;
  justify-content: space-between;
}
.user-picture {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin-right: 10px;
}
.title {
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navItem {
  margin-right: 20px;
}

.loginButton {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.logoutButton {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  fill: white;
}
.h1 {
  font-size: clamp(38px, 5vw, 54px);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 11px;
  letter-spacing: -2px;
  margin-top: 40px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
