@import "main.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-picture {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin-right: 10px;
}
.title {
  margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navItem {
  margin-right: 20px;
}

.loginButton {
  background-color: #fff;
  color: #333;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.logoutButton {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  border: 1px solid white;
}
